## TruthDetectives - Twitter API

### This notebook reads tweets from various twitter api calls to collect real, fake, and satirical news

In [1]:
import requests
import tweepy
import json
import pandas as pd
from pprint import pprint
import base64
import numpy as np
from IPython.display import clear_output

In [2]:
# twitter keys
consumer_token = 'kwOIpRFTfoQSB6nBS7UYywnNG'
consumer_secret = 'BJXw7k0BwWAxJulVruFzz4tnYnLkHuAICHLfjSqfE1lqQUHEtB'
access_token = '1043151261976092673-ZR0P31WWImv6ne0RT21Ip03pqpw3vG'
access_token_secret = 'lCx58brHD7CHqW5DQj1FR0DIEjokEhFvunIUfjErSVENr'

In [3]:
auth = tweepy.OAuthHandler(consumer_token, consumer_secret)

In [4]:
redirect_url = auth.get_authorization_url()
redirect_url

'https://api.twitter.com/oauth/authorize?oauth_token=Jm7_qQAAAAAA9UXfAAABaGFVdsw'

In [5]:
# get pin from link
pin = '1184824'

In [6]:
token = auth.get_access_token(verifier=pin)

TweepError: Token request failed with code 401, response was 'Error processing your OAuth request: Invalid oauth_verifier parameter'.

In [7]:
api = tweepy.API(auth)
# woot authenticated

In [8]:
# api has max of 200 per call
the_onion = api.user_timeline('TheOnion', count=200)
max_id = the_onion[-1].id

In [9]:
# loop 100 times getting 200 tweets each
for i in range(100):
    the_onion = the_onion + api.user_timeline('TheOnion', count=200, max_id=max_id) 
    max_id = the_onion[-1].id

In [10]:
len(the_onion)

3291

In [12]:
title=[]
for i in range(len(the_onion)):
    title.append(the_onion[i].text)

In [13]:
title = list(set(title)) #making sure there are no duplicates

In [14]:
len(the_onion) # there are none

3291

In [ ]:
onion_df = pd.DataFrame(columns=['Title', 'Text', 'Author', 'Source', 'Label'])

In [15]:
onion_df.Title = title

In [16]:
onion_df.Label = 'Satirical'
onion_df.Author = 'The Onion'
onion_df.Source = 'Twitter'
onion_df.Text = np.nan

In [27]:
onion_df.to_csv('twitter.csv', index=False)
onion_df.head()

,Title,Text,Author,Source,Label
0,Businessman Does His Work Lying On Bed Like Sc...,NaN,The Onion,Twitter,Satirical
1,RT @ClickHole: 8 Photos Of Fat Emma Stone That...,NaN,The Onion,Twitter,Satirical
2,The Best Podcasts Of 2018 https://t.co/BBoyaho...,NaN,The Onion,Twitter,Satirical
3,Report: Underfunded Public Schools Lacking Bas...,NaN,The Onion,Twitter,Satirical
4,Ingenious Political Analyst Points Out Irony O...,NaN,The Onion,Twitter,Satirical

In [18]:
# BBC World News
bbc = api.user_timeline('BBCWorld', count=200)
max_id = bbc[-1].id
for i in range(100):
    bbc = bbc + api.user_timeline('BBCWorld', count=200, max_id=max_id) 
    max_id = bbc[-1].id

In [19]:
title=[]
for i in range(len(bbc)):
    title.append(bbc[i].text)

In [20]:
len(title)

3234

In [21]:
title = list(set(title)) #making sure there are no duplicates
len(title) # about 30 duplicates dropped

3216

In [22]:
bbc_df = pd.DataFrame(columns=['Title', 'Text', 'Author', 'Source', 'Label'])
bbc_df.Title = title
bbc_df.Label = 'Reliable'
bbc_df.Author = 'BBC World'
bbc_df.Source = 'Twitter'
bbc_df.Text = np.nan

In [26]:
df = onion_df.append(bbc_df)
df.tail()

,Title,Text,Author,Source,Label
3211,Californian law change means pet shops can onl...,NaN,BBC World,Twitter,Reliable
3212,This is Zeal Akaraiwai - the 'angel' who secre...,NaN,BBC World,Twitter,Reliable
3213,Boy gets Colorado town to overturn snowball fi...,NaN,BBC World,Twitter,Reliable
3214,"RT @VFritzNews: A cumulative loss of sleep, or...",NaN,BBC World,Twitter,Reliable
3215,Neil Prakash: Australian jihadist stripped of ...,NaN,BBC World,Twitter,Reliable

In [28]:
df.to_csv('twitter.csv', index=False)