## TruthDetectives - Twitter API

### This notebook reads tweets from various twitter api calls to collect real, fake, and satirical news

In [1]:
import requests
import tweepy
import json
import pandas as pd
from pprint import pprint
import base64
import numpy as np
from IPython.display import clear_output

In [2]:
# twitter keys
consumer_token = 'kwOIpRFTfoQSB6nBS7UYywnNG'
consumer_secret = 'BJXw7k0BwWAxJulVruFzz4tnYnLkHuAICHLfjSqfE1lqQUHEtB'
access_token = '1043151261976092673-ZR0P31WWImv6ne0RT21Ip03pqpw3vG'
access_token_secret = 'lCx58brHD7CHqW5DQj1FR0DIEjokEhFvunIUfjErSVENr'

In [3]:
auth = tweepy.OAuthHandler(consumer_token, consumer_secret)

In [4]:
redirect_url = auth.get_authorization_url()
redirect_url

'https://api.twitter.com/oauth/authorize?oauth_token=rPRwzQAAAAAA9UXfAAABaGbQ0pw'

In [6]:
# get pin from link
pin = '5579854'

In [7]:
token = auth.get_access_token(verifier=pin)

In [8]:
api = tweepy.API(auth)
# woot authenticated

In [12]:
# api has max of 200 per call
the_onion = api.user_timeline('TheOnion', count=200)
max_id = the_onion[-1].id

In [13]:
# loop 100 times getting 200 tweets each
for i in range(100):
    the_onion = the_onion + api.user_timeline('TheOnion', count=200, max_id=max_id) 
    max_id = the_onion[-1].id

In [14]:
len(the_onion)

3325

In [15]:
title=[]
for i in range(len(the_onion)):
    title.append(the_onion[i].text)

In [16]:
title = list(set(title)) #making sure there are no duplicates

In [17]:
len(the_onion) # there are none

3325

In [18]:
onion_df = pd.DataFrame(columns=['Title', 'Text', 'Author', 'Source', 'Label'])

In [19]:
onion_df.Title = title

In [20]:
onion_df.Label = 'Satirical'
onion_df.Author = 'The Onion'
onion_df.Source = 'Twitter'
onion_df.Text = np.nan

In [21]:
onion_df.to_csv('twitter.csv', index=False)
onion_df.head()

,Title,Text,Author,Source,Label
0,Breaking: Adam Got A PS4 For Christmas https:/...,NaN,The Onion,Twitter,Satirical
1,"For more world-renowned reportage, visit https...",NaN,The Onion,Twitter,Satirical
2,"""How do you shop for someone like that? I mean...",NaN,The Onion,Twitter,Satirical
3,"For more exemplary journalism, visit https://t...",NaN,The Onion,Twitter,Satirical
4,Report: Distracted Driving Results In More Tha...,NaN,The Onion,Twitter,Satirical

In [22]:
# BBC World News
bbc = api.user_timeline('BBCWorld', count=200)
max_id = bbc[-1].id
for i in range(100):
    bbc = bbc + api.user_timeline('BBCWorld', count=200, max_id=max_id) 
    max_id = bbc[-1].id

In [23]:
title=[]
for i in range(len(bbc)):
    title.append(bbc[i].text)

In [24]:
len(title)

3304

In [25]:
title = list(set(title)) #making sure there are no duplicates
len(title) # about 30 duplicates dropped

3250

In [26]:
bbc_df = pd.DataFrame(columns=['Title', 'Text', 'Author', 'Source', 'Label'])
bbc_df.Title = title
bbc_df.Label = 'Reliable'
bbc_df.Author = 'BBC World'
bbc_df.Source = 'Twitter'
bbc_df.Text = np.nan

In [72]:
df = pd.DataFrame()

In [73]:
df = onion_df.append(bbc_df)
df.tail()

,Title,Text,Author,Source,Label
3245,Liberia electricity crisis: 'About 60% of powe...,NaN,BBC World,Twitter,Reliable
3246,Why smartphones are skewing young Indians’ ide...,NaN,BBC World,Twitter,Reliable
3247,After the caliphate: What next for IS? https:/...,NaN,BBC World,Twitter,Reliable
3248,Trump: 'I never directed Michael Cohen to brea...,NaN,BBC World,Twitter,Reliable
3249,Putin: West disrespecting voters' choices of T...,NaN,BBC World,Twitter,Reliable

In [28]:
df.to_csv('twitter.csv', index=False)

In [29]:
# SatireNewsNet
snn = api.user_timeline('SatireNewsNet', count=200)
max_id = snn[-1].id
for i in range(100):
    snn = snn + api.user_timeline('SatireNewsNet', count=200, max_id=max_id) 
    max_id = snn[-1].id

In [30]:
title=[]
for i in range(len(snn)):
    title.append(snn[i].text)

In [31]:
len(title)

159

In [32]:
title = list(set(title)) #making sure there are no duplicates
len(title) # about 30 duplicates dropped

58

In [33]:
snn_df = pd.DataFrame(columns=['Title', 'Text', 'Author', 'Source', 'Label'])
snn_df.Title = title
snn_df.Label = 'Satirical'
snn_df.Author = 'SatireNewsNet'
snn_df.Source = 'Twitter'
snn_df.Text = np.nan

In [74]:
df = df.append(snn_df)
df.reset_index(inplace=True)
df.tail()

,index,Title,Text,Author,Source,Label
6526,53,Lonely George W. Bush Still Holds Hands with S...,NaN,SatireNewsNet,Twitter,Satirical
6527,54,@Acosta Jim - you are proving that a wall work...,NaN,SatireNewsNet,Twitter,Satirical
6528,55,@jordanbpeterson Big fan Jordan. Everyone plea...,NaN,SatireNewsNet,Twitter,Satirical
6529,56,@PalmerReport @realDonaldTrump He has turned y...,NaN,SatireNewsNet,Twitter,Satirical
6530,57,@ezralevant @Gillette any thoughts on this tox...,NaN,SatireNewsNet,Twitter,Satirical

In [75]:
df.drop_duplicates()
df.shape

(6531, 6)

In [41]:
# DPRK_News
dprk = api.user_timeline('DPRK_News', count=200)
max_id = dprk[-1].id
for i in range(100):
    dprk = dprk + api.user_timeline('DPRK_News', count=200, max_id=max_id) 
    max_id = dprk[-1].id

In [42]:
title=[]
for i in range(len(snn)):
    title.append(snn[i].text)

In [43]:
dprk_df = pd.DataFrame(columns=['Title', 'Text', 'Author', 'Source', 'Label'])
dprk_df.Title = title
dprk_df.Label = 'Satirical'
dprk_df.Author = 'DPRK'
dprk_df.Source = 'Twitter'
dprk_df.Text = np.nan

In [56]:
dprk_df.head()

,Title,Text,Author,Source,Label
0,@ezralevant @Gillette any thoughts on this tox...,NaN,DPRK,Twitter,Satirical
1,"@TwitterMoments @BuzzFeedNews Nope, because it...",NaN,DPRK,Twitter,Satirical
2,@MajorCBS @realDonaldTrump Fake news,NaN,DPRK,Twitter,Satirical
3,@ChetPowell @realDonaldTrump @WhiteHouse Fake ...,NaN,DPRK,Twitter,Satirical
4,@BuzzFeedNews Fake news,NaN,DPRK,Twitter,Satirical

In [57]:
df = df.append(dprk_df)
df.tail()

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

,Author,Label,Source,Text,Title,index
154,DPRK,Satirical,Twitter,NaN,New Amazon BrainWave Automatically Orders What...,NaN
155,DPRK,Satirical,Twitter,NaN,New Amazon BrainWave Automatically Orders What...,NaN
156,DPRK,Satirical,Twitter,NaN,New Amazon BrainWave Automatically Orders What...,NaN
157,DPRK,Satirical,Twitter,NaN,New Amazon BrainWave Automatically Orders What...,NaN
158,DPRK,Satirical,Twitter,NaN,New Amazon BrainWave Automatically Orders What...,NaN

In [78]:
df = df[['Title', 'Text', 'Author', 'Source', 'Label']]
df.reset_index(drop=True, inplace=True)
df.tail()

,Title,Text,Author,Source,Label
6526,Lonely George W. Bush Still Holds Hands with S...,NaN,SatireNewsNet,Twitter,Satirical
6527,@Acosta Jim - you are proving that a wall work...,NaN,SatireNewsNet,Twitter,Satirical
6528,@jordanbpeterson Big fan Jordan. Everyone plea...,NaN,SatireNewsNet,Twitter,Satirical
6529,@PalmerReport @realDonaldTrump He has turned y...,NaN,SatireNewsNet,Twitter,Satirical
6530,@ezralevant @Gillette any thoughts on this tox...,NaN,SatireNewsNet,Twitter,Satirical

In [80]:
df.to_csv('twitter.csv', index=False)